<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.shopcartMapper">
  <resultMap id="BaseResultMap" type="com.domain.shopcart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="commNum" jdbcType="INTEGER" property="commnum" />
    <result column="commId" jdbcType="INTEGER" property="commid" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, commNum, commId, status, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopcart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shopcart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.domain.shopcart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shopcart (userId, commNum, commId, 
      status, create_time, modify_time
      )
    values (#{userid,jdbcType=INTEGER}, #{commnum,jdbcType=INTEGER}, #{commid,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.domain.shopcart">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shopcart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="commnum != null">
        commNum,
      </if>
      <if test="commid != null">
        commId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commnum != null">
        #{commnum,jdbcType=INTEGER},
      </if>
      <if test="commid != null">
        #{commid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.domain.shopcart">
    update shopcart
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commnum != null">
        commNum = #{commnum,jdbcType=INTEGER},
      </if>
      <if test="commid != null">
        commId = #{commid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},,
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.domain.shopcart">
    update shopcart
    set commNum = #{commNum},
      status = 2,
      modify_time =Now()
    where commId= #{commId}
  </update>
  
  <update id="updateNum">
  	update shopcart set commNum=#{commNum},modify_time=#{modify_time} where userId =#{userId} and commId =#{commId}
  </update>
  
  <select id="select" resultMap="BaseResultMap"> 
  	select * from shopcart where userId =#{userId} and commId =#{commId};
  </select>
  
  <select id="getNum" resultType="java.lang.Integer">
	select count(*) from shopcart where userId =#{userId} and status = 1;
  </select>
  
  <select id="selectByMore" resultMap="BaseResultMap">
  		select * from shopcart where userId=#{userId} and status = #{status};
  </select>
  
   <delete id="delete" parameterType="java.lang.Integer">
   	update shopcart set status = 0 where userId=#{userId} and commId = #{commId};
   </delete>
   
   <select id="selectBycommId" resultMap="BaseResultMap"> 
  	select * from shopcart where commId =#{commId};
  </select>
</mapper>